<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg">
    <link rel="stylesheet" href="/style.css">
    <title>{{ page.title }}</title>
    <script src="/header.js"></script>
</head>
<body>
<header>
<p><h3 id="title"></h3></p>
<hr />
</header>
<div id="header"></div>
<!-- 상단 -->
    <!-- 마크다운 내용이 이 자리에 합쳐집니다 -->
    {{ content }}
<!-- 하단 -->
<div id="footer"></div>
<footer>
<hr />
<p><a href="#">처음으로</a></p>
</footer>
<script src="/footer.js"></script>
</body>
</html>
